python-dotenv
sentence_transformers
networkx
huggingface_hub
asyncio
ollama
requests
beautifulsoup4
PyPDF2
docx2txt
openai
google-generativeai
groq
reportlab
matplotlib
seaborn
pandas
numpy
scikit-learn
sqlalchemy
scipy
statsmodels
wordcloud
joypy
shap
pgmpy
hmmlearn
dtaidistance
stumpy
biopython
folium
pyinstaller
pmdarima
tensorflow
vertexai
spacy
tqdm
fuzzywuzzy
PyMuPDF
python-docx
pyarrow
jellyfish
python-dateutil
torch
tkinter
duckduckgo-search
lxml
ntlk
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
