torch==2.0.1
sentence-transformers==2.2.2
spacy==3.5.3
networkx==3.1
openai==0.27.8
tiktoken==0.4.0
numpy==1.24.3
scikit-learn==1.2.2
transformers==4.30.2
docx2txt==0.8
PyPDF2==3.0.1
python-docx==0.8.11
nltk==3.8.1
